/*
body {background: linear-gradient(#999999 , black);}
*/
body {


    background-color: #444444;
    /*background: linear-gradient(-45deg, black, grey);*/
    /* background: linear-gradient(to top right, #006666 0%, #66ff99 100%);*/
/*    background: linear-gradient(to top right, #333333 37%, #999999 84%);
*/
    overflow-x: hidden;


}



/*333333*/







/*SCROLLBAR STYLE ---------------------------------------------------*/

/* width */
::-webkit-scrollbar {
    width: 15px;
}




/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 80, 80); 
}

::-webkit-scrollbar-track-piece  {
    background: rgb(70, 70, 70); }



/* MENU SETTINGS ----------------------------------------------------------- */
.limenu {
    display: inline;
    float: right;
    margin-right: 10px;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 5px #000000;;

}

.limenu a {
    color: white;
    font-weight: BOLD;
    font-size: 15px;
}


.limenu a:hover {
    color: rgb(100, 100, 100);
    text-decoration: none;
}



.ulmenu {
    list-style-type: none;
    top: 0;
}


/*BODY STYLESS ----------------------------------------------------------------------*/
#contenttitle {
    color: #5db7d3;
    text-align: center;
    font-family: Calibri;
    font-weight: bold;

}

#contenthead {
    color: white;
    text-align: left;
    font-family: Calibri;
    font-weight: bold;
    font-size: 7vw;
    margin-left: 20px;

}

#contentcontact {
    color: white;
    text-align: left;
    font-family: Calibri;
    font-weight: bold;
    font-size: 5vw;
    margin-left: 20px;

}

#contentimgresume {
    width: 200px;
}

.contentpar {
    color: #5db7d3;
    font-weight: bold;
    text-align: justify;
    font-size: 18px;
    margin-left: 20px;
}

.contentinfo {
    border: 10px solid #429ef4;
    width: 90%;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;

}

.contentinfospace {

}

#contenttable {
    width:100%;
    margin: 0px;
}

#homediv {
    margin-top: 150px;
}

.contentimg {
    width: 240px;
    height: 150px;
    /*border: 1px solid black;*/
   /* border-radius: 10px;*/
    margin-top: 20px;
}

.contentimgtext {
    color: rgb(80, 80, 80);
    font-family: Arial;
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 0px;
    text-decoration: none;

}

.contentimgtextpar {
    font-size: 13px;
    /*color: rgb(100, 100, 100);*/
    color: black;
    text-align: left;
    margin-left: 12px;
    height: 40px;
    text-decoration: none;
    font-weight: BOLD;

}

.contentimgtextparlogo {
    font-size: 12px;
    color: black;
    text-align: left;
    margin-left: 10px;
    cursor: pointer;
    
    font-weight: bold;
}

.contentlink:visited {
    text-decoration: none;
}
.contentimgtextparlogo:hover {
    color: gray;
    text-decoration: none;
}

.iframes {
        overflow: hidden;
}

#resumediv {
    margin-top: 0px;
}

.bordercheck {
    border: 1px solid white;
}

.contactmetable {
    border-radius: 30px;
    background-color: rgb(100,100, 100);
    width: 60%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.workdiv {
    background-color: rgb(250, 250, 250);
    width: 280px;
    border-radius: 5px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 10px;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.workdiv:hover{
  background-color: rgb(200, 200, 200);
  transition: 0.4s;
}



.flipbody {
  background-color: rgb(250, 250, 250);
}

.workdiv:visited p {
  color: #444;

   text-decoration: none;
}

.workdiv:hover p {
  color: #444;

}





.contentlink:hover {
    text-decoration: none;
}

#logintext {
  text-align: center;
  font-size: 20px;
  color: white;
}

#loginbutton {
  text-decoration: underline;
  cursor: pointer;
}

.showmorebutton {
  background-color: #222222;
  border: 0px;
}





/* SOCIAL ICONSSSSS-------------------------------------------------*/

.socialicons {
  display:inline;
  margin-top: 10px;
  cursor: pointer;
}

#twittericon {

}
/*CONTACT ME FORM ---------------------------------------------------------*/

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 4px;
}

#messageform {
    width: 80%;
    heigh: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 4px;
    resize: none;
}

#sendform {
    float:right;
    margin-right:100px;
    margin-bottom: 10px;
/*    padding: 15px 25px;*/
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #444;
    border: 10px solid #444;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
}

#sendform:hover {
    background-color: #333;
    text-decoration: none;
    border: 10px solid #333;
}

#code {
  width: 50%;
}

/*MODAL SETTINGS ------------------------------------------------------------------------*/

.modal-title{
    color: red;
    font-weight: bold;
}


.modal-titlemini {
    color: black;
    font-size: 10px;
    font-weight: bold;
}

.modal-frames {
    width: 100%;
    height: 450px;
}

.modal-dialog {
    width: 80%;
    height: 100%;
}



.modal-parsmall {
    font-family: Calibri;
    font-size: 12px;
    float: right;
    margin-bottom: 10px;
}

.modal-par {
    font-family: Calibri;
    font-size: 20px;
    font-weight: bold;

}
#circlesimg {
  margin-bottom: 5px;
}

#circlesdiv {
  width: 100%;
  height: 100%;
}
/*CAROUSEL SETTINGS -----------------------------------------------------------*/
.carousel-indicators {
    margin-top: 100px;
}

.carousel-letters {
    color: white;
    display: inline;
    text-align: center;
    font-size: 9vw;
    cursor: context-menu;
    font-family: Impact;
}

/*.carousel-letters:hover {
    color: red;
    display: inline;
    text-align: center;
    font-size: 9vw;
    cursor: context-menu;


}*/

.carousel-caption {
    bottom: 600px;
    transition: bottom 2s ease;
}
.active .carousel-caption {
    bottom: 20px;
}

.carousel-buttons {
  border: 1px solid white;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}


ol.carousel-indicators li.active {
  background: #5db7d3;
  border: 0px;
       text-indent: 0;
      margin: 0 2px;
      width: 51px;
      height: 21px;
      border: none;
      /*border-radius: 100%;*/
      line-height: 30px;
      color: #fff;
      transition: all 0.25s ease;
}

ol.carousel-indicators li {
     text-indent: 0;
      margin: 0 2px;
      width: 20px;
      height: 20px;
      border: none;
      /*border-radius: 100%;*/
      line-height: 30px;
      color: #fff;
      border: 1px solid white;
      transition: all 0.25s ease;

}


/*BOUNCEIN Animation*/
@-webkit-keyframes bounceIn{20%,40%,60%,80%,from,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}to{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes bounceIn{20%,40%,60%,80%,from,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}to{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}.bounceIn{-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-name:bounceIn;animation-name:bounceIn}

/*BOUNCEINHOVer Animation*/
@-webkit-keyframes bounceIn{20%,40%,60%,80%,from,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}to{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes bounceIn{20%,40%,60%,80%,from,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}to{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}.bounceInhover:hover{-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-name:bounceIn;animation-name:bounceIn}

/*FADEIN Animation*/
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn:hover{-webkit-animation-duration:.75s;animation-duration:.75s;-webkit-animation-name:fadeIn;animation-name:fadeIn}

/*FADEINDOWN Animation*/
@-webkit-keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.fadeInDown{-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-name:fadeInDown;animation-name:fadeInDown}

/*ROTATEIN Animation*/
@-webkit-keyframes rotateIn{from{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);transform:rotate3d(0,0,1,-200deg);opacity:0}to{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1}}@keyframes rotateIn{from{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);transform:rotate3d(0,0,1,-200deg);opacity:0}to{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1}}.rotateIn:hover{-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-name:rotateIn;animation-name:rotateIn}

/*JELLO Animation*/
@-webkit-keyframes jello{11.1%,from,to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}22.2%{-webkit-transform:skewX(-12.5deg) skewY(-12.5deg);transform:skewX(-12.5deg) skewY(-12.5deg)}33.3%{-webkit-transform:skewX(6.25deg) skewY(6.25deg);transform:skewX(6.25deg) skewY(6.25deg)}44.4%{-webkit-transform:skewX(-3.125deg) skewY(-3.125deg);transform:skewX(-3.125deg) skewY(-3.125deg)}55.5%{-webkit-transform:skewX(1.5625deg) skewY(1.5625deg);transform:skewX(1.5625deg) skewY(1.5625deg)}66.6%{-webkit-transform:skewX(-.78125deg) skewY(-.78125deg);transform:skewX(-.78125deg) skewY(-.78125deg)}77.7%{-webkit-transform:skewX(.390625deg) skewY(.390625deg);transform:skewX(.390625deg) skewY(.390625deg)}88.8%{-webkit-transform:skewX(-.1953125deg) skewY(-.1953125deg);transform:skewX(-.1953125deg) skewY(-.1953125deg)}}@keyframes jello{11.1%,from,to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}22.2%{-webkit-transform:skewX(-12.5deg) skewY(-12.5deg);transform:skewX(-12.5deg) skewY(-12.5deg)}33.3%{-webkit-transform:skewX(6.25deg) skewY(6.25deg);transform:skewX(6.25deg) skewY(6.25deg)}44.4%{-webkit-transform:skewX(-3.125deg) skewY(-3.125deg);transform:skewX(-3.125deg) skewY(-3.125deg)}55.5%{-webkit-transform:skewX(1.5625deg) skewY(1.5625deg);transform:skewX(1.5625deg) skewY(1.5625deg)}66.6%{-webkit-transform:skewX(-.78125deg) skewY(-.78125deg);transform:skewX(-.78125deg) skewY(-.78125deg)}77.7%{-webkit-transform:skewX(.390625deg) skewY(.390625deg);transform:skewX(.390625deg) skewY(.390625deg)}88.8%{-webkit-transform:skewX(-.1953125deg) skewY(-.1953125deg);transform:skewX(-.1953125deg) skewY(-.1953125deg)}}.jello:hover{-webkit-animation-duration:.7s;animation-duration:.7s;-webkit-animation-name:jello;animation-name:jello;-webkit-transform-origin:center;transform-origin:center}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
    -webkit-animation-duration:3.7s;
    animation-duration:3.7s;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulsehover:hover {
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}























window.scroll({
  top: 2500, 
  left: 0, 
  behavior: 'smooth' 
});

// Scroll certain amounts from current position 
window.scrollBy({ 
  top: 100, // could be negative value
  left: 0, 
  behavior: 'smooth' 
});

// Scroll to a certain element
document.querySelector('.hello').scrollIntoView({ 
  behavior: 'smooth' 
});